.fundoCadastro {
    background-image: url("https://media1.tenor.com/m/vNvSXlB0QuYAAAAd/neko-cat.gif");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }